body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 1.6rem; */
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  margin-top: 20rem;
  color: $color-white;
  backface-visibility: hidden; /* fix animation shaking issue */
  margin-bottom: 4rem;

  &--main {
    display: block;
    font-size: 9rem;
    font-weight: 600;
    letter-spacing: 1rem;
    text-transform: uppercase;
    animation: moveInLeft 2s ease-out;

    @include respond(phone) {
      font-size: 5rem;
      letter-spacing: 1rem;
    }
  }

  &--sub {
    margin-top: .5rem;
    display: block;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: .45rem;
    animation: moveInRight 2s ease-out;

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
} // END of .heading-primary

.heading-secondary {
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  letter-spacing: 2px;
  transition: all 0.2s;

  // make gradient on the text using BACKGROUND-CLIP and color transparent
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  // ---------------------------------------------------------------------

  @include respond(tab_Port) {
    font-size: 3rem;
  }
  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: scale(1.04);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
} // END of .heading-secondary

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
} // END of .heading-tertiary

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
} // END of .paragraph
